</main>

<footer>
    <div id="bottom-footer" class="text-center"></div>
</footer>

<script src="./assets/js/tailwind/tailwind.min.js"></script>
<script src="./assets/js/custom.js"></script>
</body>
</html>