<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- SEO Content -->

    <meta name="description" content="Welcome to Project Name!">
    <meta property="og:url" content="Project Name">
    <meta property="og:title" content="Project Name">
    <meta property="og:image" content="Project Name">
    <meta property="og:site_name" content="Project Name">
    <meta property="og:description" content="Project description">
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Project Name">
    <meta name="twitter:description" content="Project description">
   
    <script type='application/ld+json'>
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "Webpage Name",
            "url": "Webpage URL",
            "description": "Webpage Description",
            "image": "Webpage Image URL"
        }
    </script>

    <!-- Styles -->
    <link rel="stylesheet" href="./assets/css/tailwind/tailwind-all.min.css">
    <link rel="stylesheet" href="./assets/css/custom.css">

</head>
<body>

    <header>

    </header>

    <main>